{% load calendar_tags %}

<h1>Calendar!</h1>

<table>
    <tr>
        {% for d in dates %}
            <th {% if d == today %}class="today"{% endif %}><i style="font-size: small;">{{ d|date:"M d, Y" }}</i><br>{{ d|date:"l" }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for c in calendar_days %}
        <td>
            {% if c is not None %}
                {% for meal_type in meal_types %}   
                    {% with meal_count=c|count_meals:meal_type.0 %}
                        {% if meal_count %}
                        <div class="Meal">
                            <span class='material-icons'>{% get_icon meal_icons meal_type.0 %}</span><br>
                            {% sum_macro c meal_type.0 %}
                        </div>
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    <tr>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
        <td>1</td>
    </tr>
</table>