<h1>Kcalculator</h1>

<div>
    <div id="ingredients-list">
        <datalist id="ingredients-all">
            {% for ingredient in ingredients %}
                <option value="{{ ingredient }}">{{ ingredient }}</option>
            {% endfor %}
        </datalist>
        <div>
            <form id="ingredients-form"  hx-get="/calculator/calculate" hx-trigger="input change" hx-target="#total" hx-swap="innerHTML" hx-include="#ingredients-form">
                {% csrf_token %}
                <div hx-get="/calculator/add-ingredient" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>
            </form>
            <hr>
            <p id="total">Total: -</p>
        </div>
    </div>

</div>