<h1>Recipes</h1>

<div>
    <div id="ingredients-list">
        <datalist id="ingredients-all">
            {% for ingredient in ingredients %}
                <option value="{{ ingredient }}">{{ ingredient }}</option>
            {% endfor %}
        </datalist>
        <div>
            <form id="ingredients-form">
                <input type="text" name="recipe-name" placeholder="recipe name"><br>
                <input type="text" name="recipe-piece" placeholder="piece weight"><br>
                {% csrf_token %}
                <div hx-get="/calculator/add-ingredient" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></div>
            </form>
            <button hx-get="/calculator/add-recipe" hx-trigger="click" hx-include="#ingredients-form">Save</button>
        </div>
    </div>

</div>